body {
    background-color: #171b1b;
    margin: 0 auto;
    color: #a6a6a6;
    padding: 0;
    font-family: monospace;
    width: 800px;
    font-size: 14px;
}

ol {
    background-color: black;
    color: green;
}

.banner{
    color: 575757
}

.menu {
    border: 1px dashed #a6a6a6;
    border-radius: 3px;
}
.menu ul li {
    display: inline;
    margin-left: 5px;
}
.menu ul li a {
    text-decoration: none;
    color: #666699;
    text-align: center;
}
.menu ul li a:hover {
    padding: 2px;
    border-bottom: 2px solid #666699;
}

